.footer-section {
    position: relative;
    width:100%;
    top:10px;
    padding-top:100px;
    
}

.footer {
    position: relative;
    color: rgb(48, 48, 48);
    transition: all 250ms ease-in-out;
    padding-bottom:20px;
    width:100%;

    &:hover {
        color: rgb(109, 109, 109);
        cursor:pointer;
    }

}