.info-links {
    z-index: 50;
    position:absolute;
    width:100%;
    top:88vh;
}

.git-icon { 
    font-size:47.5px;
    margin: 5px;
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;

    &:hover {
        color: rgb(34, 34, 34);
        cursor: pointer;
        animation-name: linkAnime;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
    }
}

.linked-icon {
    font-size:60px;   
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;
    
    &:hover {
        color: rgb(34, 34, 34);
        cursor: pointer;
        animation-name: linkAnime;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
    }

}

.cv {
    cursor:pointer;
    font-weight:800;
    font-size: 50px;
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    transform:translateY(0px);

    &:hover {
        color: rgb(34, 34, 34);
        cursor:pointer;
        animation-name: linkAnime;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
        transform:translateY(-100px);
    }

}



@keyframes linkAnime {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }

}