.intro-container {
    width:100%;
    z-index:3;
    top:100px;
    position:absolute;
    display:flex;
    flex-direction: column;
    width:100%;
    align-items:center;
}

.intro-size {
    transform: scale(100%);
}

.greeting {
    font-size:$greeting;
    height: 1px;
    transform: translate(-1px, 18px);
    
}

.name { 
    font-family: 'Staatliches', cursive;
    line-height: 30px;
    font-size: $header;
    
}

.intro {   
    font-size: $sub-header;
    transform: translate(0px, -12px);
    text-align: center;
    letter-spacing:3px;
    
}

@keyframes linkAnime {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }

}