.tech-section-main {
    z-index:2;
    position: relative;
    height:800px;
}

.tech {
    margin: 0% 10% 0% 10%;
    font-size: $text;
    transform:translateY(100px);

    &:before {
        content: "";
        background: rgb(206, 229, 255);
        position: absolute;        
        top: -20px;
        height: 1px;
        width: 80vw;
        transition: all 0.1s ease-in-out;
      }

}

.tech-light {
    margin: 0% 10% 0% 10%;
    font-size: $text;
    transform:translateY(100px);

    &:before {
        content: "";
        background: rgb(0, 0, 0);
        position: absolute;        
        top: -20px;
        height: 1px;
        width: 80vw;
        transition: all 0.1s ease-in-out;
      }

}

.tech-container {
    transform:translateY(100px);
}

.tech-row {
    transform:translateY(125px);
}

.tech-box {
    width: 100%;
    padding-top: 0%;
    position: relative; 
    color: rgb(0, 0, 0);
    
}

.tech-animation {
    animation-name: tech-animation-frames;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}


@keyframes tech-animation-frames {
    0% {transform:rotateY(0deg);}
    100% {transform:rotateY(360deg);}
}



.tech-box-size {
    color:rgb(206, 229, 255);
    font-size: 6rem;
    transform: translateY(20px);
}