.dividing-section {
    position: relative;
    height: 100vh;
}

.about-section {
    width:100%;
    height:500px;
}

.about {
    margin: 0% 0% 5% 15%;
    font-family: 'Poiret One', cursive;
}

.about-header {
    font-family: 'Staatliches', cursive;
}