.dividing-section {
    position: relative;
    height: 100vh;
}

.about-section {
    width:100%;
    height:500px;

}

.about {
    margin: 0% 10% 0% 10%;
    // font-family: 'Poiret One', cursive;

    &:before {
        content: "";
        background: rgb(206, 229, 255);
        position: absolute;        
        bottom: -10px;
        height: 1px;
        width: 78.5%;
        transition: all 0.1s ease-in-out;
      }


}

.about-header {
    cursor:pointer;
    font-family: 'Staatliches', cursive;
}

.about-important {
    font-family: 'Staatliches', cursive;
}

.picture {
    background-color: rgb(70, 134, 252);
    margin: 0% 10% 0% 6%;
    opacity: 80%;
    background: url(../img/MeImgBW.jpg) no-repeat center;
    width:20%;
    padding-top:0;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
    clip-path: polygon(20% 30%, 20% 100%, 90% 100%, 90% 30%);
    transform:translateY(-70px) scale(100%); 

}