.about-section-main {
    z-index:2;
    position: relative;
    top:800px;
} 

.about-section {
    width:100%;
    right:10px;
}

.about {
    margin: 0% 10% 0% 10%;
    font-size: $text;
    transform:translateY(100px);

    &:before {
        content: "";
        background: rgb(206, 229, 255);
        position: absolute;        
        top: -20px;
        height: 1px;
        width: 80vw;
        transition: all 0.1s ease-in-out;
      }


}

.about-header {
    cursor:pointer;
    font-family: 'Staatliches', cursive;
    font-size:$head-text;
    transform:translateY(50px);
}

.about-text {
    font-size: $text;
    
}

.about-important {
    font-family: 'Staatliches', cursive;
    display: inline;
}

.about-important-tech {
    font-family: 'Staatliches', cursive;
    font-size: $sub-head-text;
    display:block;
}

.picture {
    background-color: rgb(70, 134, 252);
    margin: 0% 10% 0% 6%;
    opacity: 80%;
    background: url(../img/MeImgBW.jpg) no-repeat center;
    width:20%;
    padding-top:0;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
    clip-path: polygon(20% 30%, 20% 100%, 90% 100%, 90% 30%);
    transform:translateY(-70px) scale(100%); 

}