.nav-container {
    z-index:100;
    position:fixed;
    width: 100%;
}

.nav-links {
    width:100%;
    height:100%;
    left:50px;

    &:focus {
        width:250px;
    }
}

.nav-open {
    position: absolute;
    background-color: #F7EBEC;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top:50px;
    left:50px;
}

.open-icon-container {
    z-index:1;
    width:100%;
    height:100%;
    cursor: pointer;
}

.open-nav-logo {
    font-size: 40px;

}

.link-1 {
    z-index:2;
    position: absolute;
    background-color: #FBF5F3;
    width: 50px;
    height: 50px;
    bottom:3px;
    left:30px;
    transform:translateX(40px);
    border-radius: 50%;
    animation-name: link-1-open;
    animation-duration: 0.6s;
    animation-iteration-count: 1;

}

.project-nav-logo {
    font-size:26px;
}

.link-2 {
    z-index:2;
    position: absolute;
    background-color: #FBF5F3;
    width: 50px;
    height: 50px;
    bottom:3px;
    left:30px;
    transform:translateX(100px);
    border-radius: 50%;
    animation-name: link-2-open;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.link-3 {
    z-index:2;
    position: absolute;
    background-color: #FBF5F3;
    width: 50px;
    height: 50px;
    bottom:3px;
    left:30px;
    transform:translateX(160px);
    border-radius: 50%;
    animation-name: link-3-open;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
}

@keyframes link-2-open {


}

@keyframes link-1-open {

    0% {
        opacity: 0%;
        transform:translateX(0px); 
    }

    25% {
        transform:translateX(60px);
    }

    50% {
        transform:translateX(30px);
    }

    75% {
        transform:translateX(50px);
    }
    
    100% {
        opacity: 100%;
        transform:translateX(40px);
    }

}

@keyframes link-2-open {


    0% {
        opacity: 0%;
    }


    30% {
        opacity: 0%;
        transform:translateX(0px); 
    }

    44% {
        transform:translateX(120px);
    }

    58% {
        transform:translateX(80px);
    }

    72% {
        transform:translateX(110px);
    }
    
    100% {
        opacity: 100%;
        transform:translateX(100px);
    }

}

@keyframes link-3-open {


    0% {
        opacity: 0%;
    }


    30% {
        opacity: 0%;
        transform:translateX(0px); 
    }

    44% {
        transform:translateX(200px);
    }

    58% {
        transform:translateX(160px);
    }

    72% {
        transform:translateX(180px);
    }
    
    100% {
        opacity: 100%;
        transform:translateX(160px);
    }

}