.nav-container {
    z-index:1;
    position:fixed;
    width: 5vw;
    height:2000vh;
}

.open-icon-container {
    z-index:100;
    width:5vw;
    height:100vh;
    position: fixed;
    display:flex;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.new-links {
    position:fixed;
    z-index:100;
    height:100vh;
}


.scroll-nav {
    z-index:1;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.scroll-text {
    position:absolute;
    z-index: 1;
    height:200px; 
    left:-128px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    color:white;
    transform:rotate(90deg);
    cursor:pointer;
}

.background-modal {
    z-index:-1;
    position:fixed;
    top:0;
    left:0px;
    width:100vw;
    height:2000vh;
    background-color: hsl(0, 0%, 0%);
    // backdrop-filter: blur(1rem);
    animation-name: modal-open;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes modal-open {

    0% {
        opacity: 0%;
        transform:translateX(-1000%); 
    }
    
    100% {
        opacity: 100%;
        transform:translateX(0%); 
    }

}

.open-nav-up-1 {
    position:relative;
    color:white;
    font-size: 15px;
    left:7px;
    top:-55px;
    z-index:100;
}

.open-nav-down-2 {
    position:relative;
    color:white;
    font-size: 15px;
    left:7px;
    top:60px;
    z-index:100;
}

.buttons {
    display:flex;
    flex-direction:column;
}

.nav-logo {
    font-size:40px;
    margin-bottom:10px;
}



.anime-links-inline {
    display:flex;
    flex-direction: column;
    font-size:16px;
    padding: 0px 10px;
}

.about-link-2 {
    margin:10px;
    z-index: 100;
    animation-name: link-open;
    animation-duration: 1s;
    box-shadow: none;
    animation-iteration-count: 1;

}

.projects-link-3 {
    margin:10px;
    z-index: 100;
    animation-name: link-open;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    box-shadow: none;
}

.contact-link-4 {
    margin:10px;
    z-index: 100;
    animation-name: link-open;
    animation-duration: 2s;
    animation-iteration-count: 1;
    box-shadow: none;
}

.anime-nav-btn-container {
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
}

@keyframes link-open {

    0% {
        opacity: 0%;
        transform:translateX(-1000%); 
    }

    25% {
        transform:translateX(500%);
    }

    50% {
        transform:translateX(-250%);
    }

    75% {
        transform:translateX(250%);
    }
    
    100% {
        opacity: 100%;
        transform:translateX(0%);
        
    }

}

