.caret-position {
    display:none;
    z-index:301;
    position:fixed;
    z-index:100;
    transform: translate(50%, -1.7vh);
    width:20%;
    text-align: left;
}

.caret-icon {
    color: rgb(206, 229, 255);
    z-index:300;
    font-size: 30px;
    color: white;
    animation-name: caretAnime;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    cursor:pointer;
}

@keyframes caretAnime {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }

}