.caret-position {
    position:fixed;
    z-index:100;
    transform: translateY(95vh);
    width:100%;
    right: 50%;
}

.caret-icon {
    font-size: 30px;
    color: white;
    animation-name: caretAnime;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    cursor:pointer;
}

@keyframes caretAnime {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }

}