//icon colors

.chimney-container {
    position:absolute;
    background-color: #303030;
    width:100%;
    height: 800px;
}

//Smoke


.bubble {
    z-index:2;
    position:absolute;
    width: 80px;
    height: 80px;
    background-color: #eceff1;
    border-radius:50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform:scale(0%);
}


.extra-bubble {
    z-index:1;
    position:absolute;
    width: 40px;
    height: 40px;
    background-color: #999c9e;
    border-radius:50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform:scale(0%);
}

.tech-icon {
    font-size: 50px;
    transform:translate(30%, 35%,)
}

//Bubble Icons


.bubble-1 {
    animation-name: bubble-1-ani;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bubble-2 {
    animation-name: bubble-2-ani;
    animation-delay: 1500ms;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}  

.bubble-3 {
    animation-name: bubble-3-ani;
    animation-delay: 1750ms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.bubble-4 { 
    animation-name: bubble-4-ani;
    animation-delay: 2000ms;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.bubble-5 { 
    animation-name: bubble-5-ani;
    animation-delay: 2250ms;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

.bubble-6 { 
    animation-name: bubble-6-ani;
    animation-delay: 2500ms;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}



//Extra Bubbles

.extra-bubble-1 {
    animation-name: extra-bubble-1-ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.extra-bubble-2 {
    animation-name: extra-bubble-2-ani;
    animation-delay: 100ms;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}  

.extra-bubble-3 {
    animation-name: extra-bubble-3-ani;
    animation-delay: 200ms;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.extra-bubble-4 { 
    animation-name: extra-bubble-4-ani;
    animation-delay: 300ms;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

.extra-bubble-5 { 
    animation-name: extra-bubble-5-ani;
    animation-delay: 400ms;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.extra-bubble-6 { 
    animation-name: extra-bubble-6-ani;
    animation-delay: 500ms;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}



//Extra bubbles animation

@keyframes extra-bubble-6-ani {

    0% {
        opacity:0%;
        top:600px;
        left: 0px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:450px; 
        right: 60px;
        transform: scale(120%);
    }
}


@keyframes extra-bubble-5-ani {

    0% {
        opacity:0%;
        top:600px;
        left: 0px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:500px; 
        left: 50px;
        transform: scale(140%);
    }
}

@keyframes extra-bubble-4-ani {

    0% {
        opacity:0%;
        top:600px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:425px;
        left:5px;
        transform: scale(180%);
    }
}


@keyframes extra-bubble-3-ani {

    0% {
        opacity:0%;
        top:600px;
        left: 0px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:500px; 
        right: 60px;
        transform: scale(170%);
    }
}


@keyframes extra-bubble-2-ani {

    0% {
        opacity:0%;
        top:600px;
        left: 0px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:500px; 
        left: 50px;
        transform: scale(130%);
    }
}

@keyframes extra-bubble-1-ani {

    0% {
        opacity:0%;
        top:600px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:500px;
        transform: scale(190%);
    }
}



//Icon Bubbles animation


@keyframes bubble-6-ani {

    0% {
        opacity:0%;
        top:600px;
        left: 0px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:325px; 
        right: 75px;
        transform: scale(100%);
    }
}


@keyframes bubble-5-ani {

    0% {
        opacity:0%;
        top:600px;
        left: 0px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:375px; 
        right: 50px;
        transform: scale(100%);
    }
}

@keyframes bubble-4-ani {

    0% {
        opacity:0%;
        top:600px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:375px;
        left:50px;
        transform: scale(100%);
    }
}


@keyframes bubble-3-ani {

    0% {
        opacity:0%;
        top:600px;
        left: 0px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:475px; 
        right: 100px;
        transform: scale(100%);
    }
}


@keyframes bubble-2-ani {

    0% {
        opacity:0%;
        top:600px;
        left: 0px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:460px; 
        left: 100px;
        transform: scale(100%);
    }
}

@keyframes bubble-1-ani {

    0% {
        opacity:0%;
        top:600px;
        transform: scale(0%);
    }

    75% {
        opacity:100%; 
    }

    100% {  
        opacity:0%; 
        top:500px;
        transform: scale(100%);
    }
}


//Chimney

.chimney-position {
    width:100%;
}

.chimney {
    z-index:1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.side-1 {
    z-index:3;
    position:absolute;
    background-color: #222F49;
    width:25px;
    height:200px;
    top:600px;
    clip-path:polygon(20% 0, 80% 0%, 100% 100%, 0% 100%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.side-2 {
    z-index:3;
    position:absolute;
    // background-color: #455a64;
    background-color: #0E0E0E;
    width:25px;
    height:200px;
    top:600px;
    clip-path:polygon(50% 2%, 100% 0%, 80% 100%, 0% 100%);
    left: 0;
    right: 39px;
    margin-left: auto;
    margin-right: auto;
}

.side-3 {
    z-index:3;
    position:absolute;
    background-color: #3C4961;
    width:25px;
    height:200px;
    top:600px;
    clip-path:polygon(0% 0%, 50% 2%, 80% 100%, 0% 100%);
    left: 39px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

//Building Edge

.building-edge {
    position:absolute; 
    width: 100%;
    height:10px;
    top:800px;
}

.edge-front {
    background-color: #0E192F;
    height:60%;
}

.edge-below {
    background-color: #000000;
    height:40%;
}