.tech-icon-html {
    color: rgb(255, 87, 87);
}

.tech-icon-css {
    color: rgb(0, 136, 190);

}

.tech-icon-js {
    color: rgb(255, 186, 38);
    
}

.tech-icon-react {
    color:rgb(97, 218, 251);
    
}

.tech-icon-material {
    color: #E57373;
    
}

.tech-icon-tailwind {
    color: #1ac1ec;
}
