.info-links {
    z-index: 50;
    position:absolute;
    width:100%;
    top: 87.7vh;
}

.git-icon { 
    font-size:57.5px;
    margin: 5px;
    cursor: pointer;
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;

    :hover {
        color: rgb(34, 34, 34);
    }

}

.linked-icon {
    font-size:70px;
    cursor: pointer;
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;
    
    :hover {
        color: rgb(34, 34, 34);

    }

}

.cv {
    border-radius:5px;
    padding: 5px 10px;
    cursor:pointer;
    font-weight:800;
    font-size: 60px;
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;

    :hover {
        color: rgb(34, 34, 34);
        border-color: rgb(206, 229, 255);
    }

}