.info-links {
    z-index: 50;
    position:absolute;
    width:100%;
    top:90vh;
}

.git-icon { 
    font-size:57.5px;
    margin: 5px;
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;

    &:hover {
        color: rgb(34, 34, 34);
        cursor: pointer;
    }
}

.linked-icon {
    font-size:70px;   
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;
    
    &:hover {
        color: rgb(34, 34, 34);
        cursor: pointer;
    }

}

.cv {
    cursor:pointer;
    font-weight:800;
    font-size: 60px;
    color:rgb(174, 212, 255);
    transition: all 0.2s ease-in-out;

    &:hover {
        color: rgb(34, 34, 34);
        cursor:pointer;
    }

}