

.intro-container {
    width:100%;
    z-index:2;
    position:absolute;
    top:150px;
    color: white;
}

.name {
    font-family: 'Poiret One', cursive;
    text-align: center;
}

.intro {
    font-family: 'Poiret One', cursive;
    text-align: center;
}
