.intro-row {
    width:100%;
    position:absolute;
}

.intro-container {
    width:80%;
    z-index:3;
    position:relative;
    top:150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.name {
    margin: none;
    font-family: 'Staatliches', cursive;
    text-align: center;
    line-height: 30px;
}

.intro {
    
    margin:none;
    font-family: 'Poiret One', cursive;
    text-align: center;
}
