@media only screen and (min-width: 1920px) and (min-width:1080px) {
    .chimney-container {
        transform:translateY(0px);
    }

    .info-links {
        top: 83vh;
    }
    
    .git-icon { 
        font-size:77.5px;
    }
    
    .linked-icon {
        font-size:90px;   
    }
    
    .cv {
        font-size: 80px;
    }


}

