@media screen and (max-width: 600px) {

    .link-mobile {
        display:none;
    }

    .intro-row {
        top:-150px;
    }

    .name {
        font-size: 52px;
    }
    
    .intro {
        font-size: 32px;
    }

}

@media screen and (min-width: 924px) {

    .nav-container {
        display:none;
    }

    .about-section {
        top:825px;
    }
    
    .chimney-container {
        transform:translateY(0vh);
    }

}

@media screen and (max-width: 923px) {

    .nav-bar {
        display:none;
    }

    .intro-row {
        top:-150px;
    }

    .chimney-container {
        transform:translateY(-170px);
    }

}

@media screen and (max-width: 700px) {
    
    .chimney-container {
        transform:translateY(-170px);
    }

}
