@media screen and (max-width: 600px) {

    .link-mobile {
        display:none;
    }

    .intro-row {
        top:-150px;
    }

    .name {
        font-size: 52px;
    }
    
    .intro {
        font-size: 32px;
    }

}

@media screen and (min-width: 924px) {

    .nav-container {
        display:none;
    }

    .about-section {
        top:825px;
    }
    
    .chimney-container {
        transform:translateY(0vh);
    }

}

@media screen and (max-width: 923px) {

    .nav-bar {
        display:none;
    }

    .intro-row {
        top:-150px;
    }

    .chimney-container {
        transform:translateY(-170px);
    }
    

}

@media screen and (max-width: 700px) {
    
    .chimney-container {
        transform:translateY(-250px) scaleY(90%);
    }

    .info-links {
        position:absolute;
        z-index:400;
        width:100%;
        top: 85vh;
        height:38px;
    }

    .git-icon {font-size:30px;}
    
    .linked-icon {font-size:30px; }

    .cv {font-size:14px;}

    .picture {

        width:250px;
        height:250px;

    }
    
}


@media screen and (min-height: 700px) {
    
    .chimney-container {
        transform:translateY(-195px) scaleY(90%);
    }

}

@media screen and (min-height: 800px) {
    
    .chimney-container {
        transform:translateY(-120px) scaleY(90%);
    }
    
}

@media screen and (max-height: 568px) {
    
    .chimney-container {
        transform:translateY(-270px) scaleY(85%);
    }
    

}

@media screen and (max-width: 320px) {
    
    .git-icon {font-size:24px;}
    
    .linked-icon {font-size:24px; }

    .info-links {top: 87vh;}
    
    .cv {
        padding: 5px 6px;
        font-size:12px;
    }

    .name {
        margin: none;
        font-family: 'Staatliches', cursive;
        text-align: center;
        line-height: 10px;
        font-size: 40px;
    }
    
    .intro {
        font-size: 30px;
        margin:none;
        font-family: 'Poiret One', cursive;
        text-align: center;
    }
    
}

@media screen and (min-height: 1000px) {

    .chimney-container {
        transform:translateY(0px);
    }
    
}