.nav-bar {
    top:0;
    z-index: 100;
    width:100%;
    position:fixed;
    font-size:$nav-bar;
    height:80px;
    font-family: 'Staatliches', cursive;
}

.link {
    position: relative;
    color: rgb(206, 229, 255);
    height: 100%;
    font-weight: 300;
    transition: all 0.2s ease-in-out;

    &:hover {
        animation-name: home-hover;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        
    }

    &:active {
        color: rgb(34, 34, 34);
        animation-fill-mode:both;
        animation-name: home-open;
        animation-duration: 0.2s;
        animation-iteration-count: 1;

    }

}

.link-text {
    outline:none;
    cursor:pointer;
}

  //Home-btn

  .home-btn {
        display:none;
        transition: all 0.2s ease-in-out;
        position:absolute;
        color:rgb(174, 212, 255);
        background-color: #0E0E0E;
        height:60px;
        width:60px;
        border: solid 4px rgb(174, 212, 255);
        border-radius:50%;
        font-size:35px;
        box-shadow:1px 2px 5px rgb(0, 0, 0);
        top:6vh;
        left:3vw;
        animation-name: home-open;
        animation-duration: 0.6s;
        animation-iteration-count: 1;
 
        &:hover {
            border: solid 4px rgb(34, 34, 34);
            cursor:pointer;
            box-shadow:0px 1px 2px rgb(0, 0, 0);
            color: rgb(34, 34, 34);
        }

        &:active {

            animation-name: home-open;
            animation-duration: 0.3s;
            animation-iteration-count: 1;

        }

  }

  .home-icon-box {
        height:60px;
        width:60px;
        transform:translate(-4px, -4px)
  }

  
  @keyframes home-hover {

    0% {
        transform:translateY(0%); 
    }


    50% {
        transform:translateY(-5%);
    }

    75% {
        transform:translateY(0%); 
    }

    100% {
        transform:translateY(5%);
    }

}


  @keyframes home-open {

    0% {
        opacity: 0%;
        transform:translateY(5%); 
    }

    25% {
        transform:translateY(-10%);
    }

    50% {
        transform:translateY(5%);
    }

    75% {
        transform:translateY(-2%);
    }
    
    100% {
        opacity: 100%;
        transform:translateY(0%);
        
    }

}