.nav-bar {
    z-index: 100;
    width:100%;
    position:fixed;
    height:50px;
}

.link {
    position: relative;
    color: rgb(206, 229, 255);
    height: 100%;
    font-weight: 300;
    transition: all 0.2s ease-in-out;

}

.link-text {
    outline:none;
    cursor:pointer;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:after {
        content: "";
        background: rgb(206, 229, 255);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2%;
        width: 0%;
        transition: all 0.1s ease-in-out;

      }

    &:hover {

        &:after {
            width: 100%;
          }

    }

    &:active {

        &:before {
            animation-name: swipe;
            animation-duration: 0.1s;
            animation-iteration-count: 1;
        }

    }

    &:before {
        opacity: 0%;
        content: "";
        background: linear-gradient(87deg, rgba(39,43,48,0) 0%, rgba(255,255,255,1) 56%);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 0%;
        
    }
}

@keyframes swipe {
    0%   {
        width: 0%;
        opacity: 0%;
    }

    50% {
        opacity: 5%;
    }

    100% {
        opacity: 20%;
        width: 100%;
    }
  }