.project-section {
    height: 100%;
    width: 100%;
    transform:translateY(50px);
}

.project-header { 
    font-family: 'Staatliches', cursive;
    margin: 0% 10% 5% 10%;

}

.project-box-left {  
    margin-left:20%;
}

.project-box-right {
    margin-right:20%;
}

.col-project-left {
    padding: 0% 15% 0% 15%;
}

.col-project-right {
    padding: 0% 15% 0% 8%;
}

.project-img-container {
    border: solid 1px white;
    width: 100%;
    padding-top: 0%;
    position: relative; 
    background-color: rgba(70, 133, 252, 0.24);
}

.project-img {
    width: 100%;
    height: 100%;
    opacity: 30%;
    top:5px;
}

.project-links {
    position: absolute;
    transform:translateY(-20px);
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
}

.project-name {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    color: white;
    height:100%;
    width:100%;
    cursor:pointer;
}

.project-info {
    width: 100%;
    height: 125px;
}

.project-name-text {
    width:100%;
    height:100%;
}

.tech-div {
    display: flex;
    flex-direction: row;
}

.tech-div-text {
    margin:10px;
}

.project-link-btn {
    color:white;
    z-index:100;
    margin: 0px 10px;
    width: 30%;
    padding-top: 0%;
    position: relative;
    font-weight: 700;
    border: solid 2px rgb(255, 255, 255);
    border-radius:5px;
    background-color:rgba(255, 255, 255, 0);

    &:hover {
        background-color:rgb(255, 255, 255);
        color:black;
    }
}

