@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.tech-icon-html {
  color: #ff5757;
}

.tech-icon-css {
  color: #0088be;
}

.tech-icon-js {
  color: #ffba26;
}

.tech-icon-react {
  color: #61dafb;
}

.tech-icon-material {
  color: #E57373;
}

.tech-icon-tailwind {
  color: #1ac1ec;
}

.tech-icon-node {
  color: #00a700;
}

.lockdown {
  color: #8a9aac;
}

.nav-container {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 80vh;
}

.open-icon-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new-links {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

.scroll-nav {
  z-index: 102;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.scroll-text {
  position: fixed;
  z-index: 104;
  height: 200px;
  left: -128px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  color: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.background-modal {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.747);
  -webkit-animation-name: modal-open;
          animation-name: modal-open;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes modal-open {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes modal-open {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.open-nav-up-1 {
  position: relative;
  color: white;
  font-size: 15px;
  left: 6px;
  top: -65px;
}

.open-nav-down-2 {
  position: relative;
  color: white;
  font-size: 15px;
  left: -9px;
  top: 70px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo {
  font-size: 26px;
}

.home-link-1 {
  margin: 10px;
  z-index: 100;
  background-color: #FBF5F3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-name: link-open;
          animation-name: link-open;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.about-link-2 {
  margin: 10px;
  z-index: 100;
  background-color: #FBF5F3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-name: link-open;
          animation-name: link-open;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.projects-link-3 {
  margin: 10px;
  z-index: 100;
  background-color: #FBF5F3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-name: link-open;
          animation-name: link-open;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.contact-link-4 {
  margin: 10px;
  z-index: 100;
  background-color: #FBF5F3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-name: link-open;
          animation-name: link-open;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes link-open {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  25% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  50% {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
  75% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes link-open {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  25% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  50% {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
  75% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.intro-row {
  width: 100%;
  position: absolute;
}

.intro-container {
  width: 80%;
  z-index: 3;
  position: relative;
  top: 150px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.name {
  margin: none;
  font-family: 'Staatliches', cursive;
  text-align: center;
  line-height: 30px;
}

.intro {
  margin: none;
  font-family: 'Poiret One', cursive;
  text-align: center;
}

.chimney-container {
  z-index: 2;
  position: absolute;
  background-color: #303030;
  width: 100%;
  height: 800px;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.bubble {
  z-index: 2;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #eceff1;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(0%);
          transform: scale(0%);
}

.extra-bubble {
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #999c9e;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(0%);
          transform: scale(0%);
}

.tech-icon {
  font-size: 50px;
  -webkit-transform: translate(30%, 35%);
          transform: translate(30%, 35%);
}

.bubble-1 {
  -webkit-animation-name: bubble-1-ani;
          animation-name: bubble-1-ani;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bubble-2 {
  -webkit-animation-name: bubble-2-ani;
          animation-name: bubble-2-ani;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bubble-3 {
  -webkit-animation-name: bubble-3-ani;
          animation-name: bubble-3-ani;
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bubble-4 {
  -webkit-animation-name: bubble-4-ani;
          animation-name: bubble-4-ani;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bubble-5 {
  -webkit-animation-name: bubble-5-ani;
          animation-name: bubble-5-ani;
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bubble-6 {
  -webkit-animation-name: bubble-6-ani;
          animation-name: bubble-6-ani;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.extra-bubble-1 {
  -webkit-animation-name: extra-bubble-1-ani;
          animation-name: extra-bubble-1-ani;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.extra-bubble-2 {
  -webkit-animation-name: extra-bubble-2-ani;
          animation-name: extra-bubble-2-ani;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.extra-bubble-3 {
  -webkit-animation-name: extra-bubble-3-ani;
          animation-name: extra-bubble-3-ani;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.extra-bubble-4 {
  -webkit-animation-name: extra-bubble-4-ani;
          animation-name: extra-bubble-4-ani;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.extra-bubble-5 {
  -webkit-animation-name: extra-bubble-5-ani;
          animation-name: extra-bubble-5-ani;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.extra-bubble-6 {
  -webkit-animation-name: extra-bubble-6-ani;
          animation-name: extra-bubble-6-ani;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes extra-bubble-6-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 450px;
    right: 60px;
    -webkit-transform: scale(120%);
            transform: scale(120%);
  }
}

@keyframes extra-bubble-6-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 450px;
    right: 60px;
    -webkit-transform: scale(120%);
            transform: scale(120%);
  }
}

@-webkit-keyframes extra-bubble-5-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    left: 50px;
    -webkit-transform: scale(140%);
            transform: scale(140%);
  }
}

@keyframes extra-bubble-5-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    left: 50px;
    -webkit-transform: scale(140%);
            transform: scale(140%);
  }
}

@-webkit-keyframes extra-bubble-4-ani {
  0% {
    opacity: 0%;
    top: 600px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 425px;
    left: 5px;
    -webkit-transform: scale(180%);
            transform: scale(180%);
  }
}

@keyframes extra-bubble-4-ani {
  0% {
    opacity: 0%;
    top: 600px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 425px;
    left: 5px;
    -webkit-transform: scale(180%);
            transform: scale(180%);
  }
}

@-webkit-keyframes extra-bubble-3-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    right: 60px;
    -webkit-transform: scale(170%);
            transform: scale(170%);
  }
}

@keyframes extra-bubble-3-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    right: 60px;
    -webkit-transform: scale(170%);
            transform: scale(170%);
  }
}

@-webkit-keyframes extra-bubble-2-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    left: 50px;
    -webkit-transform: scale(130%);
            transform: scale(130%);
  }
}

@keyframes extra-bubble-2-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    left: 50px;
    -webkit-transform: scale(130%);
            transform: scale(130%);
  }
}

@-webkit-keyframes extra-bubble-1-ani {
  0% {
    opacity: 0%;
    top: 600px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    -webkit-transform: scale(190%);
            transform: scale(190%);
  }
}

@keyframes extra-bubble-1-ani {
  0% {
    opacity: 0%;
    top: 600px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    -webkit-transform: scale(190%);
            transform: scale(190%);
  }
}

@-webkit-keyframes bubble-6-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 325px;
    right: 75px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes bubble-6-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 325px;
    right: 75px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes bubble-5-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 375px;
    right: 50px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes bubble-5-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 375px;
    right: 50px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes bubble-4-ani {
  0% {
    opacity: 0%;
    top: 600px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 375px;
    left: 50px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes bubble-4-ani {
  0% {
    opacity: 0%;
    top: 600px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 375px;
    left: 50px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes bubble-3-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 475px;
    right: 100px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes bubble-3-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 475px;
    right: 100px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes bubble-2-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 460px;
    left: 100px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes bubble-2-ani {
  0% {
    opacity: 0%;
    top: 600px;
    left: 0px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 460px;
    left: 100px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes bubble-1-ani {
  0% {
    opacity: 0%;
    top: 600px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes bubble-1-ani {
  0% {
    opacity: 0%;
    top: 600px;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    top: 500px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

.chimney-position {
  width: 100%;
}

.chimney {
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.side-1 {
  z-index: 3;
  position: absolute;
  background-color: #222F49;
  width: 25px;
  height: 200px;
  top: 600px;
  -webkit-clip-path: polygon(20% 0, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0, 80% 0%, 100% 100%, 0% 100%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.side-2 {
  z-index: 3;
  position: absolute;
  background-color: #0E0E0E;
  width: 25px;
  height: 200px;
  top: 600px;
  -webkit-clip-path: polygon(50% 2%, 100% 0%, 80% 100%, 0% 100%);
          clip-path: polygon(50% 2%, 100% 0%, 80% 100%, 0% 100%);
  left: 0;
  right: 39px;
  margin-left: auto;
  margin-right: auto;
}

.side-3 {
  z-index: 3;
  position: absolute;
  background-color: #3C4961;
  width: 25px;
  height: 200px;
  top: 600px;
  -webkit-clip-path: polygon(0% 0%, 50% 2%, 80% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 50% 2%, 80% 100%, 0% 100%);
  left: 39px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.building-edge {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 800px;
}

.edge-front {
  background-color: #0E192F;
  height: 60%;
}

.edge-below {
  background-color: #000000;
  height: 40%;
}

.nav-bar {
  z-index: 100;
  width: 100%;
  position: absolute;
  height: 50px;
}

.link {
  position: relative;
  color: #cee5ff;
  height: 100%;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link-text {
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-text:after {
  content: "";
  background: #cee5ff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2%;
  width: 0%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.link-text:hover:after {
  width: 100%;
}

.link-text:active:before {
  -webkit-animation-name: swipe;
          animation-name: swipe;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.link-text:before {
  opacity: 0%;
  content: "";
  background: linear-gradient(87deg, rgba(39, 43, 48, 0) 0%, white 56%);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}

@-webkit-keyframes swipe {
  0% {
    width: 0%;
    opacity: 0%;
  }
  50% {
    opacity: 5%;
  }
  100% {
    opacity: 20%;
    width: 100%;
  }
}

@keyframes swipe {
  0% {
    width: 0%;
    opacity: 0%;
  }
  50% {
    opacity: 5%;
  }
  100% {
    opacity: 20%;
    width: 100%;
  }
}

.caret-position {
  position: fixed;
  z-index: 100;
  -webkit-transform: translateY(95vh);
          transform: translateY(95vh);
  width: 100%;
  text-align: center;
}

.caret-icon {
  font-size: 30px;
  color: white;
  -webkit-animation-name: caretAnime;
          animation-name: caretAnime;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}

@-webkit-keyframes caretAnime {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes caretAnime {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.dividing-section {
  position: relative;
  height: 100vh;
}

.about-section {
  width: 100%;
  height: 500px;
}

.about {
  margin: 0% 10% 0% 10%;
}

.about:before {
  content: "";
  background: #cee5ff;
  position: absolute;
  bottom: -10px;
  height: 1px;
  width: 78.5%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.about-header {
  cursor: pointer;
  font-family: 'Staatliches', cursive;
}

.about-important {
  font-family: 'Staatliches', cursive;
}

.picture {
  background-color: #4686fc;
  margin: 0% 10% 0% 6%;
  opacity: 80%;
  background: url(../img/MeImgBW.jpg) no-repeat center;
  width: 20%;
  padding-top: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-clip-path: polygon(20% 30%, 20% 100%, 90% 100%, 90% 30%);
          clip-path: polygon(20% 30%, 20% 100%, 90% 100%, 90% 30%);
  -webkit-transform: translateY(-70px) scale(100%);
          transform: translateY(-70px) scale(100%);
}

.project-section {
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.project-section:before {
  content: "";
  background: #cee5ff;
  position: absolute;
  bottom: 107%;
  left: 10%;
  height: 1px;
  width: 79%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.project-section:after {
  content: "";
  background: #cee5ff;
  position: absolute;
  bottom: -5%;
  left: 10%;
  height: 1px;
  width: 79%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.project-header {
  font-family: 'Staatliches', cursive;
  margin: 0% 10% 5% 10%;
}

.project-box-left {
  margin-left: 20%;
}

.project-box-right {
  margin-right: 20%;
}

.col-project-left {
  padding: 0% 15% 0% 15%;
}

.col-project-right {
  padding: 0% 15% 0% 8%;
}

.project-img-container {
  border: solid 1px white;
  width: 100%;
  padding-top: 0%;
  position: relative;
  background-color: rgba(70, 133, 252, 0.24);
}

.project-img {
  width: 100%;
  height: 100%;
  opacity: 30%;
}

.project-links {
  position: absolute;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

.project-name {
  font-family: 'Staatliches', cursive;
  font-size: 50px;
  color: white;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.project-info {
  width: 100%;
  height: 125px;
}

.project-name-text {
  width: 100%;
  height: 100%;
}

.tech-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tech-div-text {
  margin: 10px;
}

.project-link-btn {
  color: white;
  z-index: 100;
  margin: 0px 10px;
  width: 30%;
  padding-top: 0%;
  position: relative;
  font-weight: 700;
  border: solid 2px white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.project-link-btn:hover {
  background-color: white;
  color: black;
}

.info-links {
  position: absolute;
  width: 100%;
  top: 83vh;
  height: 38px;
  z-index: 100;
}

.git-icon {
  font-size: 45px;
  margin: 5px;
  cursor: pointer;
}

.linked-icon {
  font-size: 45px;
  margin: 5px;
  cursor: pointer;
}

.cv {
  border: solid #b6d6fa 2px;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 700;
  font-size: 23px;
}

.cv:hover {
  background-color: #b6d6fa;
  color: #0E0E0E;
}

.contact-section {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.contact {
  margin: 0% 10% 0% 10%;
}

.contact-header {
  font-family: 'Staatliches', cursive;
}

.submit-btn {
  color: #cee5ff;
  z-index: 100;
  margin: 0px 10px;
  width: 125px;
  padding: 1%;
  position: relative;
  font-weight: 700;
  border: solid 2px #cee5ff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #cee5ff;
  color: black;
}

.submit-btn-container {
  margin-bottom: 70px;
}

.form {
  margin-top: 10%;
}

.input-field {
  border-bottom: #cee5ff;
}

.input-field input[type=text] {
  color: #cee5ff;
}

.input-field textarea {
  color: #cee5ff;
}

.input-field input[type=email] {
  color: #cee5ff;
}

.input-field ::-webkit-input-placeholder {
  color: rgba(206, 229, 255, 0.082);
}

.input-field :-ms-input-placeholder {
  color: rgba(206, 229, 255, 0.082);
}

.input-field ::-ms-input-placeholder {
  color: rgba(206, 229, 255, 0.082);
}

.input-field ::placeholder {
  color: rgba(206, 229, 255, 0.082);
}

.input-field input[type=text] + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #cee5ff !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #6aafff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.input-field input[type=email] + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #cee5ff !important;
}

.input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #6aafff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.input-field input[type=file] {
  display: none;
}

.upload-btn {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: 'Roboto', sans-serif;
}

.upload-btn:hover {
  background-color: #cee5ff;
  color: black;
}

html {
  background-color: #0E0E0E;
  font-family: 'Roboto', sans-serif;
  color: #cee5ff;
}

.text-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlight {
  background-color: rgba(9, 112, 0, 0.274);
}

.section-divider {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
}

@media screen and (max-width: 600px) {
  .link-mobile {
    display: none;
  }
  .intro-row {
    top: -150px;
  }
  .name {
    font-size: 52px;
  }
  .intro {
    font-size: 32px;
  }
  .project-section {
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  .project-name-container {
    z-index: 300;
    background-color: rgba(0, 119, 255, 0.062);
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(-203px);
            transform: translateY(-203px);
  }
  .project-box-left {
    margin: 5%;
  }
  .project-box-right {
    margin: 5%;
  }
}

@media screen and (min-width: 924px) {
  .nav-container {
    display: none;
  }
  .about-section {
    top: 825px;
  }
  .chimney-container {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@media screen and (max-width: 923px) {
  .nav-bar {
    display: none;
  }
  .intro-row {
    top: -150px;
  }
  .chimney-container {
    -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
  }
}

@media screen and (max-width: 700px) {
  .chimney-container {
    -webkit-transform: translateY(-250px) scaleY(90%);
            transform: translateY(-250px) scaleY(90%);
  }
  .info-links {
    position: absolute;
    z-index: 400;
    width: 100%;
    top: 85vh;
    height: 38px;
  }
  .git-icon {
    font-size: 30px;
  }
  .linked-icon {
    font-size: 30px;
  }
  .cv {
    font-size: 14px;
  }
  .picture {
    width: 250px;
    height: 250px;
  }
  .project-box-left {
    margin: 8%;
  }
  .project-box-right {
    margin: 8%;
  }
}

@media screen and (min-height: 700px) {
  .chimney-container {
    -webkit-transform: translateY(-195px) scaleY(90%);
            transform: translateY(-195px) scaleY(90%);
  }
}

@media screen and (min-height: 800px) {
  .chimney-container {
    -webkit-transform: translateY(-120px) scaleY(90%);
            transform: translateY(-120px) scaleY(90%);
  }
}

@media screen and (max-height: 568px) {
  .chimney-container {
    -webkit-transform: translateY(-270px) scaleY(85%);
            transform: translateY(-270px) scaleY(85%);
  }
}

@media screen and (max-width: 320px) {
  .git-icon {
    font-size: 24px;
  }
  .linked-icon {
    font-size: 24px;
  }
  .info-links {
    top: 87vh;
  }
  .cv {
    padding: 5px 6px;
    font-size: 12px;
  }
  .name {
    margin: none;
    font-family: 'Staatliches', cursive;
    text-align: center;
    line-height: 10px;
    font-size: 40px;
  }
  .intro {
    font-size: 30px;
    margin: none;
    font-family: 'Poiret One', cursive;
    text-align: center;
  }
  .project-section {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
}

@media screen and (min-height: 1000px) {
  .chimney-container {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */