.nav-container {
    z-index:100;
    position:fixed;
    width: 5vw;
    height:100vh;
    // display:none;
}

.open-icon-container {
    z-index:100;
    width:100vw;
    position: fixed;
    display:flex;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.new-links {
    position:fixed;
    z-index:100;
    width:100vw;
}


.scroll-nav {
    z-index:1;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.anime-nav {
    color:white;
}

.scroll-text {
    left:91vw;
    top:-5vh;
    position:absolute;
    z-index: 1;
    font-size: 24px;
    color:white;
    cursor:pointer;

    animation-name: caretAnime;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;


}

.background-modal {
    z-index:-1;
    position:fixed;
    top:0;
    left:0px;
    width:100vw;
    height:2000vh;
    background-color: hsl(0, 0%, 0%);
    animation-name: modal-open;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes modal-open {

    0% {
        opacity: 0%;
        transform:translateY(-500%); 
    }
    
    100% {
        opacity: 100%;
        transform:translateY(0%); 
    }

}

.open-nav-up-1 {
    position:relative;
    color:white;
    font-size: 15px;
    left:7px;
    top:-55px;
    z-index:100;
}

.open-nav-down-2 {
    position:relative;
    color:white;
    font-size: 15px;
    left:7px;
    top:60px;
    z-index:100;
}

.buttons {
    display:flex;
    flex-direction:column;
}

.nav-logo {
    font-size:40px;
    margin-bottom:10px;
}

.anime-links-inline {
    display:flex;
    flex-direction: column;
    font-size:16px;
    padding: 0px 10px;
}

.about-link-2 {
    margin:10px;
    z-index: 100;
    animation-name: link-open;
    animation-duration: 0.2s;
    box-shadow: none;
    animation-iteration-count: 1;

}

.projects-link-3 {
    margin:10px;
    z-index: 100;
    animation-name: link-open;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    box-shadow: none;
}

.contact-link-4 {
    margin:10px;
    z-index: 100;
    animation-name: link-open;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    box-shadow: none;
}

.anime-nav-btn-container {
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
}

@keyframes link-open {

    0% {
        opacity: 0%;
        transform:translateY(-500%); 
    }
    
    100% {
        opacity: 100%;
        transform:translateY(100%);
        
    }

}

