.footer-section {
    position: relative;
    top: 780px;
    width:100%;
    height:20px;
}

.footer {
    position: relative;
    color: rgb(48, 48, 48);
    transition: all 250ms ease-in-out;
    margin-bottom:50px;
    width:100%;

    &:hover {
        color: rgb(109, 109, 109);
        cursor:pointer;
    }

}