//Navigation

@media only screen and (min-width:700px) {
    .anime-nav {display:none;}
    .nav-bar {display:block;}
}


//Mobile Portrait

@media all and (max-width:390px) and (max-height:740px) and (orientation:portrait){

    //animeNav

    .nav-container{top:0px;}

    .open-icon-container {transform:translateY(50px);}

    .background-modal {top:-60px;}

    .anime-nav-btn-container {top:-60px;}

    .scroll-text {top:-5vh;}

    //Chimney

    .chimney-container {top:-25vh;}

    .chimney-position {
        width:30%;
        transform:scale(70%) translateY(23%);
    }
    

    //Intro

    .intro-container {top: 100px;}

    //About

    .about-section-main {top: 700px;}

    //Info-links

    .info-links {
        top:88vh;
    }    

    //Tech

    .tech-section-main {top:700px;}

    //Projects

    .project-section-main {top:800px;}

    .project-box-left { margin:0 8% 0 8%;}
    
    .project-box-right {margin:0 8% 0 8%;}

    //Contact

    .contact-section-main {top:800px;}

    .submit-btn-pos {top:50px;}

    .footer {top:170px;}

}

@media all and (max-width:390px) and (max-height:739px) and (orientation:portrait){
    

    //animeNav

    .open-icon-container {transform:translateY(50px);}

    .background-modal {top:-50px;}

    .anime-nav-btn-container {top:-60px;}

    //Chimney

    .chimney-container {top:-40vh;}

    .chimney-position {
        width:30%;
        transform:scale(70%) translateY(23%);
    }

    //Intro

    .intro-container {top: 100px;}

    //About

    .about-section-main {top: 610px;}

    //Info-links

    .info-links {
        top:88vh;
    }    

    //Tech

    .tech-section-main {top:600px;}

    //Projects

    .project-section-main {top:700px;}

    .project-box-left { margin:0 8% 0 8%;}
    
    .project-box-right {margin:0 8% 0 8%;}

    //Contact

    .contact-section-main {top:700px;}

    .submit-btn-pos {top:50px;}

    .footer {top:170px;}

}

@media all and (min-width:400px) and (max-height:915px) and (orientation:portrait){

    //animeNav

    .nav-container{top:0px;}

    .open-icon-container {transform:translateY(50px);}

    .background-modal {top:-60px;}

    .anime-nav-btn-container {top:-60px;}

    //Chimney

    .chimney-container {top:-10vh;}

    //Intro

    .intro-container {top: 100px;}

    //About

    .about-section-main {top: 850px;}

    //Info-links

    .info-links {
        top:85vh;
    }    

    //Tech

    .tech-section-main {top:850px;}

    //Projects

    .project-section-main {top:950px;}

    .project-box-left { margin:0 8% 0 8%;}
    
    .project-box-right {margin:0 8% 0 8%;}

    //Contact

    .contact-section-main {top:1000px;}

    .submit-btn-pos {top:50px;}

    .footer {top:450px;}

}

@media all and (min-width:390px) and (max-height:851px) and (max-width:400px) and (orientation:portrait){

    //animeNav

    .nav-container{top:0px;}

    .open-icon-container {transform:translateY(50px);}

    .background-modal {top:-60px;}

    .anime-nav-btn-container {top:-60px;}

    //Chimney

    .chimney-container {top:-10vh;}

    //Intro

    .intro-container {top: 100px;}

    //About

    .about-section-main {top: 850px;}

    //Info-links

    .info-links {
        top:88vh;
    }    

    //Tech

    .tech-section-main {top:850px;}

    //Projects

    .project-section-main {top:950px;}

    .project-box-left { margin:0 8% 0 8%;}
    
    .project-box-right {margin:0 8% 0 8%;}

    //Contact

    .contact-section-main {top:1000px;}

    .submit-btn-pos {top:50px;}

    .footer {top:450px;}

}


//Mobile landscape

@media all and (min-width:640px) and (max-height:360px) and (orientation:landscape){


    
    //animeNav

    .anime-nav {display:block;}
    .nav-bar {display:none;}

    .nav-container{top:0px;}

    .open-icon-container {transform:translateY(50px);}

    .background-modal {top:-60px;}

    .anime-nav-btn-container {top:-60px;}

    .caret-position {transform: translate(81%, 10vh);}

    .scroll-text {
        top: 4vh;
    }

    //Chimney

    .chimney-container {top:-150vh;}

    .chimney-position {
        transform:scale(65%) translate(-180px, 28%);
    }

    //Intro

    .intro-container {
        top: 100px;
        left: 250px;
        width:50%;
    }

    //About

    .about-section-main {top: 300px;}

    //Info-links

    .info-links {
        top:79vh;
    }    

    //Tech

    .tech-section-main {top:280px;}

    //Projects

    .project-section-main {top:400px;}

    .project-box-left { margin:0 8% 0 19%;}
    
    .project-box-right {margin:0 19% 0 8%;}

    .project-link-btn {font-size:12px;}
    
    .tech-div-text {
        margin-top:30px;
        font-size:12px
    }

    //Contact

    .contact-section-main {
        top:400px;
    }

    .submit-btn-pos {top:50px;}

    .footer-section {
        top:00px;
    }

}


//Big screens

@media all and (min-width:400px) and (min-height:750px) and (min-height:361px)  {

    //animeNav

    .nav-container{top:0px;}

    .open-icon-container {transform:translateY(50px);}

    .background-modal {top:-60px;}

    .anime-nav-btn-container {top:-60px;}

    //Chimney

    .chimney-container {top:-10vh;}

    //Intro

    .intro-container {top: 100px;}

    //About

    .about-section-main {top: 850px;}

    //Info-links

    .info-links {
        top:88vh;
    }    

    //Tech

    .tech-section-main {top:850px;}

    //Projects

    .project-section-main {top:950px;}

    .project-box-left { margin:0 5% 0 19%;}
    
    .project-box-right {margin:0 19% 0 5%;}

    //Contact

    .contact-section-main {top:1000px;}

    .submit-btn-pos {top:50px;}

    .footer {top:450px;}

}