@media only screen and (min-width:600px) {

    //animewNav

    .anime-nav {display:none;}
    

    //NavBar

    .nav-bar {display:block}




    //Chimney

    .chimney-container {top:-12vh;}

    //Intro

    .intro-container {top: 100px;}


    //About

    .about-section-main {top: 800px;}

    


    

}