@media only screen and (min-width:600px) {

    //animewNav

    .anime-nav {display:none;}
    

    //NavBar

    .nav-bar {display:block}




    //Chimney

    .chimney-container {top:-12vh;}

    //Intro

    .intro-container {top: 100px;}


    //About

    .about-section-main {top: 800px;}


    //Tech

    .tech-section-main {top:770px}

    //Projects

    .project-section-main {
        top:850px;
    }

    .project-box-left {  
        margin:0 5% 0 19%;
    }
    
    .project-box-right {
        margin:0 19% 0 5%;
    }

}