.project-section-main {
    z-index: 1;
    position: relative;
    top:700px;
}

.project-section {
    position: relative;
    z-index:1;
    height: 100%;
    width: 100%;
    overflow:hidden;
    transform:translateY(80px);   

    &:before {
        content: "";
        background: rgb(206, 229, 255);
        position: absolute;       
        top: 0px;
        left:10%;
        height: 1px;
        width: 79.8vw;
        transition: all 0.1s ease-in-out;
      }
}

.project-header { 
    font-family: 'Staatliches', cursive;
    margin: 0% 10% 5% 10%;
    transform:translateY(18px);
}

.projects-row {
    transform: translateY(20px);
}

.project-box-left {  
    margin:0 8% 0 8%;
}

.project-box-right {
    margin:0 8% 0 8%;
}

.col-project-left {
    padding: 0% 5% 0% 5%;
    overflow-x: hidden;
}

.col-project-right {
    padding: 0% 5% 0% 5%;
}

.project-img-container {
    border: solid 1px white;
    width: 100%;
    padding-top: 0%;
    position: relative; 
    // background-color: rgba(70, 133, 252, 0.24);
    background-color: rgba(0, 140, 196, 0.24);
}

.project-img {
    width: 100%;
    height: 100%;
    opacity: 30%;
}

.project-links {
    position: absolute;
    transform:translateY(-20px);
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
}

.project-name {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    color: white;
    height:100%;
    width:100%;
    cursor:pointer;
}

.project-info {
    width: 100%;
    height: 125px;
}

.project-name-text {
    width:100%;
    height:100%;
}

.tech-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.tech-div-text {
    margin:10px;
}

.project-link-btn {
    color:white;
    z-index:100;
    margin: 0px 10px;
    width: 30%;
    padding-top: 0%;
    position: relative;
    font-weight: 700;
    border: solid 2px rgb(255, 255, 255);
    border-radius:5px;
    background-color:rgba(255, 255, 255, 0);

    &:hover {
        background-color:rgb(255, 255, 255);
        color:black;
    }
}

