@import '_iconColors';
@import '_font-sizes';
@import '_animeNav.scss';
@import '_intro.scss';
@import '_chimney.scss';
@import '_navBar.scss';
@import '_caretup.scss';
@import '_about.scss';
@import '_tech.scss';
@import '_projects.scss';
@import '_infoLinks.scss';
@import '_contact.scss';
@import '_footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


//Body, Html, a

html {
    background-color: #0E0E0E;
    font-family: 'Roboto', sans-serif;
    color: rgb(206, 229, 255);

}

::-webkit-scrollbar-thumb {
    height:50px;
}

body {
    overflow-x: hidden;
}

a {
    transition: all 0.5s ease-in-out;
    
}

::-webkit-scrollbar {
    width: 10px;
    height:10px;
}

::-webkit-scrollbar-track {
    background-color: #0E0E0E;
  }

  ::-webkit-scrollbar-thumb {
    background-color:rgb(174, 212, 255);
    height: 20px;
    width: 20px;
    border-radius: 10px;
  }


//Custom materialize



//Utilities

.text-center {
    align-items: center;
}

.center-div {
    display:flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    background-color: hsla(115, 100%, 22%, 0.274);
}

.section-divider {
    background-color:hsla(0, 0%, 0%, 0);
    height:50px;
}

@import '_media.scss';